<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.First_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.Last_Name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.Age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.Email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
